/* Custom bootstrap classes */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: var(--color-dark);
}

.color-primary {
  color: var(--color-primary);
}

.bg-primary {
  background: var(--bg-primary) !important;
}

.outline-primary {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn-outline-primary {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.btn-outline-primary:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.active-color-primary label input:checked + span {
  background: var(--color-primary);
  border-color: var(--color-primary);
}

.badge-primary {
  color: var(--color-white);
  background: var(--color-primary);
}

.alert-primary {
  color: var(--color-primary);
  background-color: rgba(var(--color-primary-rgba), 0.1);
  border: 1px solid rgba(var(--color-primary-rgba), 0.1);
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.circle-primary {
  color: var(--color-primary);
  background: rgba(var(--color-primary-rgba), 0.1);
}

.border-primary {
  border: 1px solid var(--color-primary);
}

.bg-opacity-primary-20 {
  background: rgba(var(--color-primary-rgba), 0.2);
}

.bg-opacity-primary {
  background: rgba(var(--color-primary-rgba), 0.15);
}

.order-bg-opacity-primary {
  background: rgba(var(--color-primary-rgba), 0.1);
}
.order-bg-opacity-primary svg {
  fill: var(--color-primary);
}

.color-svgDF-primary svg {
  color: var(--color-primary);
}

.form-switch-primary .form-check-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.form-switch-primary .form-check-input:focus {
  box-shadow: none;
}

.color-secondary {
  color: var(--color-secondary);
}

.bg-secondary {
  background: var(--bg-secondary) !important;
}

.outline-secondary {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}

.btn-outline-secondary {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}
.btn-outline-secondary:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.active-color-secondary label input:checked + span {
  background: var(--color-secondary);
  border-color: var(--color-secondary);
}

.badge-secondary {
  color: var(--color-white);
  background: var(--color-secondary);
}

.alert-secondary {
  color: var(--color-secondary);
  background-color: rgba(var(--color-secondary-rgba), 0.1);
  border: 1px solid rgba(var(--color-secondary-rgba), 0.1);
}

.btn-secondary {
  color: var(--color-white);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.circle-secondary {
  color: var(--color-secondary);
  background: rgba(var(--color-secondary-rgba), 0.1);
}

.border-secondary {
  border: 1px solid var(--color-secondary);
}

.bg-opacity-secondary-20 {
  background: rgba(var(--color-secondary-rgba), 0.2);
}

.bg-opacity-secondary {
  background: rgba(var(--color-secondary-rgba), 0.15);
}

.order-bg-opacity-secondary {
  background: rgba(var(--color-secondary-rgba), 0.1);
}
.order-bg-opacity-secondary svg {
  fill: var(--color-secondary);
}

.color-svgDF-secondary svg {
  color: var(--color-secondary);
}

.form-switch-secondary .form-check-input:checked {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.form-switch-secondary .form-check-input:focus {
  box-shadow: none;
}

.color-success {
  color: var(--color-success);
}

.bg-success {
  background: var(--bg-success) !important;
}

.outline-success {
  border: 1px solid var(--color-success);
  color: var(--color-success);
}

.btn-outline-success {
  border: 1px solid var(--color-success);
  color: var(--color-success);
}
.btn-outline-success:hover {
  background-color: var(--color-success);
  border-color: var(--color-success);
}

.active-color-success label input:checked + span {
  background: var(--color-success);
  border-color: var(--color-success);
}

.badge-success {
  color: var(--color-white);
  background: var(--color-success);
}

.alert-success {
  color: var(--color-success);
  background-color: rgba(var(--color-success-rgba), 0.1);
  border: 1px solid rgba(var(--color-success-rgba), 0.1);
}

.btn-success {
  color: var(--color-white);
  background-color: var(--color-success);
  border-color: var(--color-success);
}

.circle-success {
  color: var(--color-success);
  background: rgba(var(--color-success-rgba), 0.1);
}

.border-success {
  border: 1px solid var(--color-success);
}

.bg-opacity-success-20 {
  background: rgba(var(--color-success-rgba), 0.2);
}

.bg-opacity-success {
  background: rgba(var(--color-success-rgba), 0.15);
}

.order-bg-opacity-success {
  background: rgba(var(--color-success-rgba), 0.1);
}
.order-bg-opacity-success svg {
  fill: var(--color-success);
}

.color-svgDF-success svg {
  color: var(--color-success);
}

.form-switch-success .form-check-input:checked {
  background-color: var(--color-success);
  border-color: var(--color-success);
}
.form-switch-success .form-check-input:focus {
  box-shadow: none;
}

.color-info {
  color: var(--color-info);
}

.bg-info {
  background: var(--bg-info) !important;
}

.outline-info {
  border: 1px solid var(--color-info);
  color: var(--color-info);
}

.btn-outline-info {
  border: 1px solid var(--color-info);
  color: var(--color-info);
}
.btn-outline-info:hover {
  background-color: var(--color-info);
  border-color: var(--color-info);
}

.active-color-info label input:checked + span {
  background: var(--color-info);
  border-color: var(--color-info);
}

.badge-info {
  color: var(--color-white);
  background: var(--color-info);
}

.alert-info {
  color: var(--color-info);
  background-color: rgba(var(--color-info-rgba), 0.1);
  border: 1px solid rgba(var(--color-info-rgba), 0.1);
}

.btn-info {
  color: var(--color-white);
  background-color: var(--color-info);
  border-color: var(--color-info);
}

.circle-info {
  color: var(--color-info);
  background: rgba(var(--color-info-rgba), 0.1);
}

.border-info {
  border: 1px solid var(--color-info);
}

.bg-opacity-info-20 {
  background: rgba(var(--color-info-rgba), 0.2);
}

.bg-opacity-info {
  background: rgba(var(--color-info-rgba), 0.15);
}

.order-bg-opacity-info {
  background: rgba(var(--color-info-rgba), 0.1);
}
.order-bg-opacity-info svg {
  fill: var(--color-info);
}

.color-svgDF-info svg {
  color: var(--color-info);
}

.form-switch-info .form-check-input:checked {
  background-color: var(--color-info);
  border-color: var(--color-info);
}
.form-switch-info .form-check-input:focus {
  box-shadow: none;
}

.color-infos {
  color: var(--color-infos);
}

.bg-infos {
  background: var(--bg-infos) !important;
}

.outline-infos {
  border: 1px solid var(--color-infos);
  color: var(--color-infos);
}

.btn-outline-infos {
  border: 1px solid var(--color-infos);
  color: var(--color-infos);
}
.btn-outline-infos:hover {
  background-color: var(--color-infos);
  border-color: var(--color-infos);
}

.active-color-infos label input:checked + span {
  background: var(--color-infos);
  border-color: var(--color-infos);
}

.badge-infos {
  color: var(--color-white);
  background: var(--color-infos);
}

.alert-infos {
  color: var(--color-infos);
  background-color: rgba(var(--color-infos-rgba), 0.1);
  border: 1px solid rgba(var(--color-infos-rgba), 0.1);
}

.btn-infos {
  color: var(--color-white);
  background-color: var(--color-infos);
  border-color: var(--color-infos);
}

.circle-infos {
  color: var(--color-infos);
  background: rgba(var(--color-infos-rgba), 0.1);
}

.border-infos {
  border: 1px solid var(--color-infos);
}

.bg-opacity-infos-20 {
  background: rgba(var(--color-infos-rgba), 0.2);
}

.bg-opacity-infos {
  background: rgba(var(--color-infos-rgba), 0.15);
}

.order-bg-opacity-infos {
  background: rgba(var(--color-infos-rgba), 0.1);
}
.order-bg-opacity-infos svg {
  fill: var(--color-infos);
}

.color-svgDF-infos svg {
  color: var(--color-infos);
}

.form-switch-infos .form-check-input:checked {
  background-color: var(--color-infos);
  border-color: var(--color-infos);
}
.form-switch-infos .form-check-input:focus {
  box-shadow: none;
}

.color-warning {
  color: var(--color-warning);
}

.bg-warning {
  background: var(--bg-warning) !important;
}

.outline-warning {
  border: 1px solid var(--color-warning);
  color: var(--color-warning);
}

.btn-outline-warning {
  border: 1px solid var(--color-warning);
  color: var(--color-warning);
}
.btn-outline-warning:hover {
  background-color: var(--color-warning);
  border-color: var(--color-warning);
}

.active-color-warning label input:checked + span {
  background: var(--color-warning);
  border-color: var(--color-warning);
}

.badge-warning {
  color: var(--color-white);
  background: var(--color-warning);
}

.alert-warning {
  color: var(--color-warning);
  background-color: rgba(var(--color-warning-rgba), 0.1);
  border: 1px solid rgba(var(--color-warning-rgba), 0.1);
}

.btn-warning {
  color: var(--color-white);
  background-color: var(--color-warning);
  border-color: var(--color-warning);
}

.circle-warning {
  color: var(--color-warning);
  background: rgba(var(--color-warning-rgba), 0.1);
}

.border-warning {
  border: 1px solid var(--color-warning);
}

.bg-opacity-warning-20 {
  background: rgba(var(--color-warning-rgba), 0.2);
}

.bg-opacity-warning {
  background: rgba(var(--color-warning-rgba), 0.15);
}

.order-bg-opacity-warning {
  background: rgba(var(--color-warning-rgba), 0.1);
}
.order-bg-opacity-warning svg {
  fill: var(--color-warning);
}

.color-svgDF-warning svg {
  color: var(--color-warning);
}

.form-switch-warning .form-check-input:checked {
  background-color: var(--color-warning);
  border-color: var(--color-warning);
}
.form-switch-warning .form-check-input:focus {
  box-shadow: none;
}

.color-warnings {
  color: var(--color-warnings);
}

.bg-warnings {
  background: var(--bg-warnings) !important;
}

.outline-warnings {
  border: 1px solid var(--color-warnings);
  color: var(--color-warnings);
}

.btn-outline-warnings {
  border: 1px solid var(--color-warnings);
  color: var(--color-warnings);
}
.btn-outline-warnings:hover {
  background-color: var(--color-warnings);
  border-color: var(--color-warnings);
}

.active-color-warnings label input:checked + span {
  background: var(--color-warnings);
  border-color: var(--color-warnings);
}

.badge-warnings {
  color: var(--color-white);
  background: var(--color-warnings);
}

.alert-warnings {
  color: var(--color-warnings);
  background-color: rgba(var(--color-warnings-rgba), 0.1);
  border: 1px solid rgba(var(--color-warnings-rgba), 0.1);
}

.btn-warnings {
  color: var(--color-white);
  background-color: var(--color-warnings);
  border-color: var(--color-warnings);
}

.circle-warnings {
  color: var(--color-warnings);
  background: rgba(var(--color-warnings-rgba), 0.1);
}

.border-warnings {
  border: 1px solid var(--color-warnings);
}

.bg-opacity-warnings-20 {
  background: rgba(var(--color-warnings-rgba), 0.2);
}

.bg-opacity-warnings {
  background: rgba(var(--color-warnings-rgba), 0.15);
}

.order-bg-opacity-warnings {
  background: rgba(var(--color-warnings-rgba), 0.1);
}
.order-bg-opacity-warnings svg {
  fill: var(--color-warnings);
}

.color-svgDF-warnings svg {
  color: var(--color-warnings);
}

.form-switch-warnings .form-check-input:checked {
  background-color: var(--color-warnings);
  border-color: var(--color-warnings);
}
.form-switch-warnings .form-check-input:focus {
  box-shadow: none;
}

.color-danger {
  color: var(--color-danger);
}

.bg-danger {
  background: var(--bg-danger) !important;
}

.outline-danger {
  border: 1px solid var(--color-danger);
  color: var(--color-danger);
}

.btn-outline-danger {
  border: 1px solid var(--color-danger);
  color: var(--color-danger);
}
.btn-outline-danger:hover {
  background-color: var(--color-danger);
  border-color: var(--color-danger);
}

.active-color-danger label input:checked + span {
  background: var(--color-danger);
  border-color: var(--color-danger);
}

.badge-danger {
  color: var(--color-white);
  background: var(--color-danger);
}

.alert-danger {
  color: var(--color-danger);
  background-color: rgba(var(--color-danger-rgba), 0.1);
  border: 1px solid rgba(var(--color-danger-rgba), 0.1);
}

.btn-danger {
  color: var(--color-white);
  background-color: var(--color-danger);
  border-color: var(--color-danger);
}

.circle-danger {
  color: var(--color-danger);
  background: rgba(var(--color-danger-rgba), 0.1);
}

.border-danger {
  border: 1px solid var(--color-danger);
}

.bg-opacity-danger-20 {
  background: rgba(var(--color-danger-rgba), 0.2);
}

.bg-opacity-danger {
  background: rgba(var(--color-danger-rgba), 0.15);
}

.order-bg-opacity-danger {
  background: rgba(var(--color-danger-rgba), 0.1);
}
.order-bg-opacity-danger svg {
  fill: var(--color-danger);
}

.color-svgDF-danger svg {
  color: var(--color-danger);
}

.form-switch-danger .form-check-input:checked {
  background-color: var(--color-danger);
  border-color: var(--color-danger);
}
.form-switch-danger .form-check-input:focus {
  box-shadow: none;
}

.color-dangers {
  color: var(--color-dangers);
}

.bg-dangers {
  background: var(--bg-dangers) !important;
}

.outline-dangers {
  border: 1px solid var(--color-dangers);
  color: var(--color-dangers);
}

.btn-outline-dangers {
  border: 1px solid var(--color-dangers);
  color: var(--color-dangers);
}
.btn-outline-dangers:hover {
  background-color: var(--color-dangers);
  border-color: var(--color-dangers);
}

.active-color-dangers label input:checked + span {
  background: var(--color-dangers);
  border-color: var(--color-dangers);
}

.badge-dangers {
  color: var(--color-white);
  background: var(--color-dangers);
}

.alert-dangers {
  color: var(--color-dangers);
  background-color: rgba(var(--color-dangers-rgba), 0.1);
  border: 1px solid rgba(var(--color-dangers-rgba), 0.1);
}

.btn-dangers {
  color: var(--color-white);
  background-color: var(--color-dangers);
  border-color: var(--color-dangers);
}

.circle-dangers {
  color: var(--color-dangers);
  background: rgba(var(--color-dangers-rgba), 0.1);
}

.border-dangers {
  border: 1px solid var(--color-dangers);
}

.bg-opacity-dangers-20 {
  background: rgba(var(--color-dangers-rgba), 0.2);
}

.bg-opacity-dangers {
  background: rgba(var(--color-dangers-rgba), 0.15);
}

.order-bg-opacity-dangers {
  background: rgba(var(--color-dangers-rgba), 0.1);
}
.order-bg-opacity-dangers svg {
  fill: var(--color-dangers);
}

.color-svgDF-dangers svg {
  color: var(--color-dangers);
}

.form-switch-dangers .form-check-input:checked {
  background-color: var(--color-dangers);
  border-color: var(--color-dangers);
}
.form-switch-dangers .form-check-input:focus {
  box-shadow: none;
}

.color-purple {
  color: var(--color-purple);
}

.bg-purple {
  background: var(--bg-purple) !important;
}

.outline-purple {
  border: 1px solid var(--color-purple);
  color: var(--color-purple);
}

.btn-outline-purple {
  border: 1px solid var(--color-purple);
  color: var(--color-purple);
}
.btn-outline-purple:hover {
  background-color: var(--color-purple);
  border-color: var(--color-purple);
}

.active-color-purple label input:checked + span {
  background: var(--color-purple);
  border-color: var(--color-purple);
}

.badge-purple {
  color: var(--color-white);
  background: var(--color-purple);
}

.alert-purple {
  color: var(--color-purple);
  background-color: rgba(var(--color-purple-rgba), 0.1);
  border: 1px solid rgba(var(--color-purple-rgba), 0.1);
}

.btn-purple {
  color: var(--color-white);
  background-color: var(--color-purple);
  border-color: var(--color-purple);
}

.circle-purple {
  color: var(--color-purple);
  background: rgba(var(--color-purple-rgba), 0.1);
}

.border-purple {
  border: 1px solid var(--color-purple);
}

.bg-opacity-purple-20 {
  background: rgba(var(--color-purple-rgba), 0.2);
}

.bg-opacity-purple {
  background: rgba(var(--color-purple-rgba), 0.15);
}

.order-bg-opacity-purple {
  background: rgba(var(--color-purple-rgba), 0.1);
}
.order-bg-opacity-purple svg {
  fill: var(--color-purple);
}

.color-svgDF-purple svg {
  color: var(--color-purple);
}

.form-switch-purple .form-check-input:checked {
  background-color: var(--color-purple);
  border-color: var(--color-purple);
}
.form-switch-purple .form-check-input:focus {
  box-shadow: none;
}

.color-dark {
  color: var(--color-dark);
}

.bg-dark {
  background: var(--bg-dark) !important;
}

.outline-dark {
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
}

.btn-outline-dark {
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
}
.btn-outline-dark:hover {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}

.active-color-dark label input:checked + span {
  background: var(--color-dark);
  border-color: var(--color-dark);
}

.badge-dark {
  color: var(--color-white);
  background: var(--color-dark);
}

.alert-dark {
  color: var(--color-dark);
  background-color: rgba(var(--color-dark-rgba), 0.1);
  border: 1px solid rgba(var(--color-dark-rgba), 0.1);
}

.btn-dark {
  color: var(--color-white);
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}

.circle-dark {
  color: var(--color-dark);
  background: rgba(var(--color-dark-rgba), 0.1);
}

.border-dark {
  border: 1px solid var(--color-dark);
}

.bg-opacity-dark-20 {
  background: rgba(var(--color-dark-rgba), 0.2);
}

.bg-opacity-dark {
  background: rgba(var(--color-dark-rgba), 0.15);
}

.order-bg-opacity-dark {
  background: rgba(var(--color-dark-rgba), 0.1);
}
.order-bg-opacity-dark svg {
  fill: var(--color-dark);
}

.color-svgDF-dark svg {
  color: var(--color-dark);
}

.form-switch-dark .form-check-input:checked {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}
.form-switch-dark .form-check-input:focus {
  box-shadow: none;
}

.color-light {
  color: var(--color-light);
}

.bg-light {
  background: var(--bg-light) !important;
}

.outline-light {
  border: 1px solid var(--color-light);
  color: var(--color-light);
}

.btn-outline-light {
  border: 1px solid var(--color-light);
  color: var(--color-light);
}
.btn-outline-light:hover {
  background-color: var(--color-light);
  border-color: var(--color-light);
}

.active-color-light label input:checked + span {
  background: var(--color-light);
  border-color: var(--color-light);
}

.badge-light {
  color: var(--color-white);
  background: var(--color-light);
}

.alert-light {
  color: var(--color-light);
  background-color: rgba(var(--color-light-rgba), 0.1);
  border: 1px solid rgba(var(--color-light-rgba), 0.1);
}

.btn-light {
  color: var(--color-white);
  background-color: var(--color-light);
  border-color: var(--color-light);
}

.circle-light {
  color: var(--color-light);
  background: rgba(var(--color-light-rgba), 0.1);
}

.border-light {
  border: 1px solid var(--color-light);
}

.bg-opacity-light-20 {
  background: rgba(var(--color-light-rgba), 0.2);
}

.bg-opacity-light {
  background: rgba(var(--color-light-rgba), 0.15);
}

.order-bg-opacity-light {
  background: rgba(var(--color-light-rgba), 0.1);
}
.order-bg-opacity-light svg {
  fill: var(--color-light);
}

.color-svgDF-light svg {
  color: var(--color-light);
}

.form-switch-light .form-check-input:checked {
  background-color: var(--color-light);
  border-color: var(--color-light);
}
.form-switch-light .form-check-input:focus {
  box-shadow: none;
}

.color-lighten {
  color: var(--color-lighten);
}

.bg-lighten {
  background: var(--bg-lighten) !important;
}

.outline-lighten {
  border: 1px solid var(--color-lighten);
  color: var(--color-lighten);
}

.btn-outline-lighten {
  border: 1px solid var(--color-lighten);
  color: var(--color-lighten);
}
.btn-outline-lighten:hover {
  background-color: var(--color-lighten);
  border-color: var(--color-lighten);
}

.active-color-lighten label input:checked + span {
  background: var(--color-lighten);
  border-color: var(--color-lighten);
}

.badge-lighten {
  color: var(--color-white);
  background: var(--color-lighten);
}

.alert-lighten {
  color: var(--color-lighten);
  background-color: rgba(var(--color-lighten-rgba), 0.1);
  border: 1px solid rgba(var(--color-lighten-rgba), 0.1);
}

.btn-lighten {
  color: var(--color-white);
  background-color: var(--color-lighten);
  border-color: var(--color-lighten);
}

.circle-lighten {
  color: var(--color-lighten);
  background: rgba(var(--color-lighten-rgba), 0.1);
}

.border-lighten {
  border: 1px solid var(--color-lighten);
}

.bg-opacity-lighten-20 {
  background: rgba(var(--color-lighten-rgba), 0.2);
}

.bg-opacity-lighten {
  background: rgba(var(--color-lighten-rgba), 0.15);
}

.order-bg-opacity-lighten {
  background: rgba(var(--color-lighten-rgba), 0.1);
}
.order-bg-opacity-lighten svg {
  fill: var(--color-lighten);
}

.color-svgDF-lighten svg {
  color: var(--color-lighten);
}

.form-switch-lighten .form-check-input:checked {
  background-color: var(--color-lighten);
  border-color: var(--color-lighten);
}
.form-switch-lighten .form-check-input:focus {
  box-shadow: none;
}

.color-light-gray {
  color: var(--color-light-gray);
}

.bg-light-gray {
  background: var(--bg-light-gray) !important;
}

.outline-light-gray {
  border: 1px solid var(--color-light-gray);
  color: var(--color-light-gray);
}

.btn-outline-light-gray {
  border: 1px solid var(--color-light-gray);
  color: var(--color-light-gray);
}
.btn-outline-light-gray:hover {
  background-color: var(--color-light-gray);
  border-color: var(--color-light-gray);
}

.active-color-light-gray label input:checked + span {
  background: var(--color-light-gray);
  border-color: var(--color-light-gray);
}

.badge-light-gray {
  color: var(--color-white);
  background: var(--color-light-gray);
}

.alert-light-gray {
  color: var(--color-light-gray);
  background-color: rgba(var(--color-light-gray-rgba), 0.1);
  border: 1px solid rgba(var(--color-light-gray-rgba), 0.1);
}

.btn-light-gray {
  color: var(--color-white);
  background-color: var(--color-light-gray);
  border-color: var(--color-light-gray);
}

.circle-light-gray {
  color: var(--color-light-gray);
  background: rgba(var(--color-light-gray-rgba), 0.1);
}

.border-light-gray {
  border: 1px solid var(--color-light-gray);
}

.bg-opacity-light-gray-20 {
  background: rgba(var(--color-light-gray-rgba), 0.2);
}

.bg-opacity-light-gray {
  background: rgba(var(--color-light-gray-rgba), 0.15);
}

.order-bg-opacity-light-gray {
  background: rgba(var(--color-light-gray-rgba), 0.1);
}
.order-bg-opacity-light-gray svg {
  fill: var(--color-light-gray);
}

.color-svgDF-light-gray svg {
  color: var(--color-light-gray);
}

.form-switch-light-gray .form-check-input:checked {
  background-color: var(--color-light-gray);
  border-color: var(--color-light-gray);
}
.form-switch-light-gray .form-check-input:focus {
  box-shadow: none;
}

.color-text {
  color: var(--color-text);
}

.bg-text {
  background: var(--bg-text) !important;
}

.outline-text {
  border: 1px solid var(--color-text);
  color: var(--color-text);
}

.btn-outline-text {
  border: 1px solid var(--color-text);
  color: var(--color-text);
}
.btn-outline-text:hover {
  background-color: var(--color-text);
  border-color: var(--color-text);
}

.active-color-text label input:checked + span {
  background: var(--color-text);
  border-color: var(--color-text);
}

.badge-text {
  color: var(--color-white);
  background: var(--color-text);
}

.alert-text {
  color: var(--color-text);
  background-color: rgba(var(--color-text-rgba), 0.1);
  border: 1px solid rgba(var(--color-text-rgba), 0.1);
}

.btn-text {
  color: var(--color-white);
  background-color: var(--color-text);
  border-color: var(--color-text);
}

.circle-text {
  color: var(--color-text);
  background: rgba(var(--color-text-rgba), 0.1);
}

.border-text {
  border: 1px solid var(--color-text);
}

.bg-opacity-text-20 {
  background: rgba(var(--color-text-rgba), 0.2);
}

.bg-opacity-text {
  background: rgba(var(--color-text-rgba), 0.15);
}

.order-bg-opacity-text {
  background: rgba(var(--color-text-rgba), 0.1);
}
.order-bg-opacity-text svg {
  fill: var(--color-text);
}

.color-svgDF-text svg {
  color: var(--color-text);
}

.form-switch-text .form-check-input:checked {
  background-color: var(--color-text);
  border-color: var(--color-text);
}
.form-switch-text .form-check-input:focus {
  box-shadow: none;
}

.color-gray {
  color: var(--color-gray);
}

.bg-gray {
  background: var(--bg-gray) !important;
}

.outline-gray {
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
}

.btn-outline-gray {
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
}
.btn-outline-gray:hover {
  background-color: var(--color-gray);
  border-color: var(--color-gray);
}

.active-color-gray label input:checked + span {
  background: var(--color-gray);
  border-color: var(--color-gray);
}

.badge-gray {
  color: var(--color-white);
  background: var(--color-gray);
}

.alert-gray {
  color: var(--color-gray);
  background-color: rgba(var(--color-gray-rgba), 0.1);
  border: 1px solid rgba(var(--color-gray-rgba), 0.1);
}

.btn-gray {
  color: var(--color-white);
  background-color: var(--color-gray);
  border-color: var(--color-gray);
}

.circle-gray {
  color: var(--color-gray);
  background: rgba(var(--color-gray-rgba), 0.1);
}

.border-gray {
  border: 1px solid var(--color-gray);
}

.bg-opacity-gray-20 {
  background: rgba(var(--color-gray-rgba), 0.2);
}

.bg-opacity-gray {
  background: rgba(var(--color-gray-rgba), 0.15);
}

.order-bg-opacity-gray {
  background: rgba(var(--color-gray-rgba), 0.1);
}
.order-bg-opacity-gray svg {
  fill: var(--color-gray);
}

.color-svgDF-gray svg {
  color: var(--color-gray);
}

.form-switch-gray .form-check-input:checked {
  background-color: var(--color-gray);
  border-color: var(--color-gray);
}
.form-switch-gray .form-check-input:focus {
  box-shadow: none;
}

.color-third {
  color: var(--color-third);
}

.bg-third {
  background: var(--bg-third) !important;
}

.outline-third {
  border: 1px solid var(--color-third);
  color: var(--color-third);
}

.btn-outline-third {
  border: 1px solid var(--color-third);
  color: var(--color-third);
}
.btn-outline-third:hover {
  background-color: var(--color-third);
  border-color: var(--color-third);
}

.active-color-third label input:checked + span {
  background: var(--color-third);
  border-color: var(--color-third);
}

.badge-third {
  color: var(--color-white);
  background: var(--color-third);
}

.alert-third {
  color: var(--color-third);
  background-color: rgba(var(--color-third-rgba), 0.1);
  border: 1px solid rgba(var(--color-third-rgba), 0.1);
}

.btn-third {
  color: var(--color-white);
  background-color: var(--color-third);
  border-color: var(--color-third);
}

.circle-third {
  color: var(--color-third);
  background: rgba(var(--color-third-rgba), 0.1);
}

.border-third {
  border: 1px solid var(--color-third);
}

.bg-opacity-third-20 {
  background: rgba(var(--color-third-rgba), 0.2);
}

.bg-opacity-third {
  background: rgba(var(--color-third-rgba), 0.15);
}

.order-bg-opacity-third {
  background: rgba(var(--color-third-rgba), 0.1);
}
.order-bg-opacity-third svg {
  fill: var(--color-third);
}

.color-svgDF-third svg {
  color: var(--color-third);
}

.form-switch-third .form-check-input:checked {
  background-color: var(--color-third);
  border-color: var(--color-third);
}
.form-switch-third .form-check-input:focus {
  box-shadow: none;
}

.color-white {
  color: var(--color-white);
}

.bg-white {
  background: var(--bg-white) !important;
}

.outline-white {
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.btn-outline-white {
  border: 1px solid var(--color-white);
  color: var(--color-white);
}
.btn-outline-white:hover {
  background-color: var(--color-white);
  border-color: var(--color-white);
}

.active-color-white label input:checked + span {
  background: var(--color-white);
  border-color: var(--color-white);
}

.badge-white {
  color: var(--color-white);
  background: var(--color-white);
}

.alert-white {
  color: var(--color-white);
  background-color: rgba(var(--color-white-rgba), 0.1);
  border: 1px solid rgba(var(--color-white-rgba), 0.1);
}

.btn-white {
  color: var(--color-white);
  background-color: var(--color-white);
  border-color: var(--color-white);
}

.circle-white {
  color: var(--color-white);
  background: rgba(var(--color-white-rgba), 0.1);
}

.border-white {
  border: 1px solid var(--color-white);
}

.bg-opacity-white-20 {
  background: rgba(var(--color-white-rgba), 0.2);
}

.bg-opacity-white {
  background: rgba(var(--color-white-rgba), 0.15);
}

.order-bg-opacity-white {
  background: rgba(var(--color-white-rgba), 0.1);
}
.order-bg-opacity-white svg {
  fill: var(--color-white);
}

.color-svgDF-white svg {
  color: var(--color-white);
}

.form-switch-white .form-check-input:checked {
  background-color: var(--color-white);
  border-color: var(--color-white);
}
.form-switch-white .form-check-input:focus {
  box-shadow: none;
}

.color-footer-dark {
  color: var(--color-footer-dark);
}

.bg-footer-dark {
  background: var(--bg-footer-dark);
}

.border-footer-dark {
  border-color: var(--color-footer-dark);
}

.border-normal {
  border: 1px solid var(--color-normal);
}

.border-deep {
  border: 1px solid var(--color-deep);
}

.border-color {
  border: 1px solid var(--color-color);
}

.bg-normal {
  background: var(--bg-normal);
}

.bg-lighter {
  background: var(--bg-lighter);
}

.bg-deep {
  background: var(--bg-deep);
}

.color-facebook {
  color: var(--color-facebook);
}

.bg-facebook {
  background: var(--color-facebook);
}

.border-facebook {
  border: 1px solid var(--color-facebook);
}

.order-bg-opacity-facebook {
  background: rgba(var(--color-facebook-rgba), 0.1);
}
.order-bg-opacity-facebook svg {
  fill: var(--color-facebook);
}
.order-bg-opacity-facebook i {
  color: var(--color-facebook);
}

.color-twitter {
  color: var(--color-twitter);
}

.bg-twitter {
  background: var(--color-twitter);
}

.border-twitter {
  border: 1px solid var(--color-twitter);
}

.order-bg-opacity-twitter {
  background: rgba(var(--color-twitter-rgba), 0.1);
}
.order-bg-opacity-twitter svg {
  fill: var(--color-twitter);
}
.order-bg-opacity-twitter i {
  color: var(--color-twitter);
}

.color-pinterest {
  color: var(--color-pinterest);
}

.bg-pinterest {
  background: var(--color-pinterest);
}

.border-pinterest {
  border: 1px solid var(--color-pinterest);
}

.order-bg-opacity-pinterest {
  background: rgba(var(--color-pinterest-rgba), 0.1);
}
.order-bg-opacity-pinterest svg {
  fill: var(--color-pinterest);
}
.order-bg-opacity-pinterest i {
  color: var(--color-pinterest);
}

.color-gplus {
  color: var(--color-gplus);
}

.bg-gplus {
  background: var(--color-gplus);
}

.border-gplus {
  border: 1px solid var(--color-gplus);
}

.order-bg-opacity-gplus {
  background: rgba(var(--color-gplus-rgba), 0.1);
}
.order-bg-opacity-gplus svg {
  fill: var(--color-gplus);
}
.order-bg-opacity-gplus i {
  color: var(--color-gplus);
}

.color-linkedin {
  color: var(--color-linkedin);
}

.bg-linkedin {
  background: var(--color-linkedin);
}

.border-linkedin {
  border: 1px solid var(--color-linkedin);
}

.order-bg-opacity-linkedin {
  background: rgba(var(--color-linkedin-rgba), 0.1);
}
.order-bg-opacity-linkedin svg {
  fill: var(--color-linkedin);
}
.order-bg-opacity-linkedin i {
  color: var(--color-linkedin);
}

.color-tumblr {
  color: var(--color-tumblr);
}

.bg-tumblr {
  background: var(--color-tumblr);
}

.border-tumblr {
  border: 1px solid var(--color-tumblr);
}

.order-bg-opacity-tumblr {
  background: rgba(var(--color-tumblr-rgba), 0.1);
}
.order-bg-opacity-tumblr svg {
  fill: var(--color-tumblr);
}
.order-bg-opacity-tumblr i {
  color: var(--color-tumblr);
}

.color-vk {
  color: var(--color-vk);
}

.bg-vk {
  background: var(--color-vk);
}

.border-vk {
  border: 1px solid var(--color-vk);
}

.order-bg-opacity-vk {
  background: rgba(var(--color-vk-rgba), 0.1);
}
.order-bg-opacity-vk svg {
  fill: var(--color-vk);
}
.order-bg-opacity-vk i {
  color: var(--color-vk);
}

.color-youtube {
  color: var(--color-youtube);
}

.bg-youtube {
  background: var(--color-youtube);
}

.border-youtube {
  border: 1px solid var(--color-youtube);
}

.order-bg-opacity-youtube {
  background: rgba(var(--color-youtube-rgba), 0.1);
}
.order-bg-opacity-youtube svg {
  fill: var(--color-youtube);
}
.order-bg-opacity-youtube i {
  color: var(--color-youtube);
}

.color-ruby {
  color: var(--color-ruby);
}

.bg-ruby {
  background: var(--color-ruby);
}

.border-ruby {
  border: 1px solid var(--color-ruby);
}

.order-bg-opacity-ruby {
  background: rgba(var(--color-ruby-rgba), 0.1);
}
.order-bg-opacity-ruby svg {
  fill: var(--color-ruby);
}
.order-bg-opacity-ruby i {
  color: var(--color-ruby);
}

.color-instagram {
  color: var(--color-instagram);
}

.bg-instagram {
  background: var(--color-instagram);
}

.border-instagram {
  border: 1px solid var(--color-instagram);
}

.order-bg-opacity-instagram {
  background: rgba(var(--color-instagram-rgba), 0.1);
}
.order-bg-opacity-instagram svg {
  fill: var(--color-instagram);
}
.order-bg-opacity-instagram i {
  color: var(--color-instagram);
}

/* Custom bootstrap classes */
.btn-shadow-primary {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-secondary {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-success {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-info {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-infos {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-warning {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-warnings {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-danger {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-dangers {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-purple {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-dark {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-light {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-lighten {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-light-gray {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-text {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-gray {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-third {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-white {
  box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.outline-lg-primary {
  border: 2px solid #8231D3;
  background: none;
  color: #8231D3;
}

.outline-lg-secondary {
  border: 2px solid #5840FF;
  background: none;
  color: #5840FF;
}

.outline-lg-success {
  border: 2px solid #01B81A;
  background: none;
  color: #01B81A;
}

.outline-lg-info {
  border: 2px solid #00AAFF;
  background: none;
  color: #00AAFF;
}

.outline-lg-infos {
  border: 2px solid #00E4EC;
  background: none;
  color: #00E4EC;
}

.outline-lg-warning {
  border: 2px solid #FA8B0C;
  background: none;
  color: #FA8B0C;
}

.outline-lg-warnings {
  border: 2px solid #FFBB00;
  background: none;
  color: #FFBB00;
}

.outline-lg-danger {
  border: 2px solid #FF0F0F;
  background: none;
  color: #FF0F0F;
}

.outline-lg-dangers {
  border: 2px solid #FF0F0F;
  background: none;
  color: #FF0F0F;
}

.outline-lg-purple {
  border: 2px solid #A722F6;
  background: none;
  color: #A722F6;
}

.outline-lg-dark {
  border: 2px solid #0A0A0A;
  background: none;
  color: #0A0A0A;
}

.outline-lg-light {
  border: 2px solid #8C90A4;
  background: none;
  color: #8C90A4;
}

.outline-lg-lighten {
  border: 2px solid #A0A0A0;
  background: none;
  color: #A0A0A0;
}

.outline-lg-light-gray {
  border: 2px solid #8C90A4;
  background: none;
  color: #8C90A4;
}

.outline-lg-text {
  border: 2px solid #666d92;
  background: none;
  color: #666d92;
}

.outline-lg-gray {
  border: 2px solid #404040;
  background: none;
  color: #404040;
}

.outline-lg-third {
  border: 2px solid #8231D3;
  background: none;
  color: #8231D3;
}

.outline-lg-white {
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff;
}

/* Custom bootstrap classes */
.btn-transparent-primary {
  background: rgba(130, 49, 211, 0.15);
  color: #8231D3;
}

.btn-transparent-secondary {
  background: rgba(88, 64, 255, 0.15);
  color: #5840FF;
}

.btn-transparent-success {
  background: rgba(1, 184, 26, 0.15);
  color: #01B81A;
}

.btn-transparent-info {
  background: rgba(0, 170, 255, 0.15);
  color: #00AAFF;
}

.btn-transparent-infos {
  background: rgba(0, 228, 236, 0.15);
  color: #00E4EC;
}

.btn-transparent-warning {
  background: rgba(250, 139, 12, 0.15);
  color: #FA8B0C;
}

.btn-transparent-warnings {
  background: rgba(255, 187, 0, 0.15);
  color: #FFBB00;
}

.btn-transparent-danger {
  background: rgba(255, 15, 15, 0.15);
  color: #FF0F0F;
}

.btn-transparent-dangers {
  background: rgba(255, 15, 15, 0.15);
  color: #FF0F0F;
}

.btn-transparent-purple {
  background: rgba(167, 34, 246, 0.15);
  color: #A722F6;
}

.btn-transparent-dark {
  background: rgba(10, 10, 10, 0.15);
  color: #0A0A0A;
}

.btn-transparent-light {
  background: rgba(140, 144, 164, 0.15);
  color: #8C90A4;
}

.btn-transparent-lighten {
  background: rgba(160, 160, 160, 0.15);
  color: #A0A0A0;
}

.btn-transparent-light-gray {
  background: rgba(140, 144, 164, 0.15);
  color: #8C90A4;
}

.btn-transparent-text {
  background: rgba(102, 109, 146, 0.15);
  color: #666d92;
}

.btn-transparent-gray {
  background: rgba(64, 64, 64, 0.15);
  color: #404040;
}

.btn-transparent-third {
  background: rgba(130, 49, 211, 0.15);
  color: #8231D3;
}

.btn-transparent-white {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

.checkbox-primary .form-check-label::before {
  background: #8231D3;
}
.checkbox-primary .form-check-input:checked ~ .form-check-label::before {
  background: #8231D3;
  border: 1px solid #8231D3;
}
.checkbox-primary .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-secondary .form-check-label::before {
  background: #5840FF;
}
.checkbox-secondary .form-check-input:checked ~ .form-check-label::before {
  background: #5840FF;
  border: 1px solid #5840FF;
}
.checkbox-secondary .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-success .form-check-label::before {
  background: #01B81A;
}
.checkbox-success .form-check-input:checked ~ .form-check-label::before {
  background: #01B81A;
  border: 1px solid #01B81A;
}
.checkbox-success .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-info .form-check-label::before {
  background: #00AAFF;
}
.checkbox-info .form-check-input:checked ~ .form-check-label::before {
  background: #00AAFF;
  border: 1px solid #00AAFF;
}
.checkbox-info .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-infos .form-check-label::before {
  background: #00E4EC;
}
.checkbox-infos .form-check-input:checked ~ .form-check-label::before {
  background: #00E4EC;
  border: 1px solid #00E4EC;
}
.checkbox-infos .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-warning .form-check-label::before {
  background: #FA8B0C;
}
.checkbox-warning .form-check-input:checked ~ .form-check-label::before {
  background: #FA8B0C;
  border: 1px solid #FA8B0C;
}
.checkbox-warning .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-warnings .form-check-label::before {
  background: #FFBB00;
}
.checkbox-warnings .form-check-input:checked ~ .form-check-label::before {
  background: #FFBB00;
  border: 1px solid #FFBB00;
}
.checkbox-warnings .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-danger .form-check-label::before {
  background: #FF0F0F;
}
.checkbox-danger .form-check-input:checked ~ .form-check-label::before {
  background: #FF0F0F;
  border: 1px solid #FF0F0F;
}
.checkbox-danger .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-dangers .form-check-label::before {
  background: #FF0F0F;
}
.checkbox-dangers .form-check-input:checked ~ .form-check-label::before {
  background: #FF0F0F;
  border: 1px solid #FF0F0F;
}
.checkbox-dangers .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-purple .form-check-label::before {
  background: #A722F6;
}
.checkbox-purple .form-check-input:checked ~ .form-check-label::before {
  background: #A722F6;
  border: 1px solid #A722F6;
}
.checkbox-purple .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-dark .form-check-label::before {
  background: #0A0A0A;
}
.checkbox-dark .form-check-input:checked ~ .form-check-label::before {
  background: #0A0A0A;
  border: 1px solid #0A0A0A;
}
.checkbox-dark .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-light .form-check-label::before {
  background: #8C90A4;
}
.checkbox-light .form-check-input:checked ~ .form-check-label::before {
  background: #8C90A4;
  border: 1px solid #8C90A4;
}
.checkbox-light .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-lighten .form-check-label::before {
  background: #A0A0A0;
}
.checkbox-lighten .form-check-input:checked ~ .form-check-label::before {
  background: #A0A0A0;
  border: 1px solid #A0A0A0;
}
.checkbox-lighten .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-light-gray .form-check-label::before {
  background: #8C90A4;
}
.checkbox-light-gray .form-check-input:checked ~ .form-check-label::before {
  background: #8C90A4;
  border: 1px solid #8C90A4;
}
.checkbox-light-gray .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-text .form-check-label::before {
  background: #666d92;
}
.checkbox-text .form-check-input:checked ~ .form-check-label::before {
  background: #666d92;
  border: 1px solid #666d92;
}
.checkbox-text .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-gray .form-check-label::before {
  background: #404040;
}
.checkbox-gray .form-check-input:checked ~ .form-check-label::before {
  background: #404040;
  border: 1px solid #404040;
}
.checkbox-gray .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-third .form-check-label::before {
  background: #8231D3;
}
.checkbox-third .form-check-input:checked ~ .form-check-label::before {
  background: #8231D3;
  border: 1px solid #8231D3;
}
.checkbox-third .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-white .form-check-label::before {
  background: #ffffff;
}
.checkbox-white .form-check-input:checked ~ .form-check-label::before {
  background: #ffffff;
  border: 1px solid #ffffff;
}
.checkbox-white .form-check-input:checked ~ .form-check-label::after {
  color: #8C90A4;
}

.checkbox-outline-primary .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-primary .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #8231D3;
  background: #8231D3;
}
.checkbox-outline-primary .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-secondary .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-secondary .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #5840FF;
  background: #5840FF;
}
.checkbox-outline-secondary .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-success .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-success .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #01B81A;
  background: #01B81A;
}
.checkbox-outline-success .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-info .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-info .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #00AAFF;
  background: #00AAFF;
}
.checkbox-outline-info .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-infos .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-infos .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #00E4EC;
  background: #00E4EC;
}
.checkbox-outline-infos .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-warning .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-warning .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #FA8B0C;
  background: #FA8B0C;
}
.checkbox-outline-warning .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-warnings .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-warnings .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #FFBB00;
  background: #FFBB00;
}
.checkbox-outline-warnings .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-danger .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-danger .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #FF0F0F;
  background: #FF0F0F;
}
.checkbox-outline-danger .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-dangers .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-dangers .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #FF0F0F;
  background: #FF0F0F;
}
.checkbox-outline-dangers .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-purple .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-purple .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #A722F6;
  background: #A722F6;
}
.checkbox-outline-purple .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-dark .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-dark .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #0A0A0A;
  background: #0A0A0A;
}
.checkbox-outline-dark .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-light .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-light .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #8C90A4;
  background: #8C90A4;
}
.checkbox-outline-light .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-lighten .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-lighten .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #A0A0A0;
  background: #A0A0A0;
}
.checkbox-outline-lighten .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-light-gray .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-light-gray .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #8C90A4;
  background: #8C90A4;
}
.checkbox-outline-light-gray .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-text .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-text .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #666d92;
  background: #666d92;
}
.checkbox-outline-text .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-gray .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-gray .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #404040;
  background: #404040;
}
.checkbox-outline-gray .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-third .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-third .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #8231D3;
  background: #8231D3;
}
.checkbox-outline-third .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.checkbox-outline-white .form-check-label:before {
  border: 1px solid var(--border-light);
}
.checkbox-outline-white .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #ffffff;
  background: #ffffff;
}
.checkbox-outline-white .form-check-input:checked ~ .form-check-label::after {
  color: var(--color-white);
}

.btn-primary:hover {
  color: var(--color-white);
  background-color: var(--bg-primary-hover) !important;
  border-color: var(--bg-primary-hover);
}

.btn-primary-hover {
  color: #ffffff;
  background-color: var(--bg-primary-hover) !important;
  border-color: var(--bg-primary-hover);
}
.btn-primary-hover:hover {
  color: #ffffff;
  opacity: 0.7;
}

.btn-secondary:hover {
  color: var(--color-white);
  background-color: var(--bg-secondary-hover) !important;
  border-color: var(--bg-secondary-hover);
}

.btn-secondary-hover {
  color: #ffffff;
  background-color: var(--bg-secondary-hover) !important;
  border-color: var(--bg-secondary-hover);
}
.btn-secondary-hover:hover {
  color: #ffffff;
  opacity: 0.7;
}

.btn-success:hover {
  color: var(--color-white);
  background-color: var(--bg-success-hover) !important;
  border-color: var(--bg-success-hover);
}

.btn-success-hover {
  color: #ffffff;
  background-color: var(--bg-success-hover) !important;
  border-color: var(--bg-success-hover);
}
.btn-success-hover:hover {
  color: #ffffff;
  opacity: 0.7;
}

.btn-info:hover {
  color: var(--color-white);
  background-color: var(--bg-info-hover) !important;
  border-color: var(--bg-info-hover);
}

.btn-info-hover {
  color: #ffffff;
  background-color: var(--bg-info-hover) !important;
  border-color: var(--bg-info-hover);
}
.btn-info-hover:hover {
  color: #ffffff;
  opacity: 0.7;
}

.btn-warning:hover {
  color: var(--color-white);
  background-color: var(--bg-warning-hover) !important;
  border-color: var(--bg-warning-hover);
}

.btn-warning-hover {
  color: #ffffff;
  background-color: var(--bg-warning-hover) !important;
  border-color: var(--bg-warning-hover);
}
.btn-warning-hover:hover {
  color: #ffffff;
  opacity: 0.7;
}

.btn-danger:hover {
  color: var(--color-white);
  background-color: var(--bg-danger-hover) !important;
  border-color: var(--bg-danger-hover);
}

.btn-danger-hover {
  color: #ffffff;
  background-color: var(--bg-danger-hover) !important;
  border-color: var(--bg-danger-hover);
}
.btn-danger-hover:hover {
  color: #ffffff;
  opacity: 0.7;
}

.btn-dark:hover {
  color: var(--color-white);
  background-color: var(--bg-dark-hover) !important;
  border-color: var(--bg-dark-hover);
}

.btn-dark-hover {
  color: #ffffff;
  background-color: var(--bg-dark-hover) !important;
  border-color: var(--bg-dark-hover);
}
.btn-dark-hover:hover {
  color: #ffffff;
  opacity: 0.7;
}

.btn-gray:hover {
  color: var(--color-white);
  background-color: var(--bg-gray-hover) !important;
  border-color: var(--bg-gray-hover);
}

.btn-gray-hover {
  color: #ffffff;
  background-color: var(--bg-gray-hover) !important;
  border-color: var(--bg-gray-hover);
}
.btn-gray-hover:hover {
  color: #ffffff;
  opacity: 0.7;
}

.vertical-tabs::-webkit-scrollbar-track {
  background-color: rgba(var(--color-dark-rgba), 0.05);
}

.vertical-tabs::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.vertical-tabs::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 5px;
}

.search-body::-webkit-scrollbar-track {
  background-color: rgba(var(--color-dark-rgba), 0.05);
}

.search-body::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.search-body::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 5px;
}

.chat-box::-webkit-scrollbar-track {
  background-color: rgba(var(--color-dark-rgba), 0.05);
}

.chat-box::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 5px;
}

.scroll-timeline::-webkit-scrollbar-track {
  background-color: rgba(var(--color-dark-rgba), 0.05);
}

.scroll-timeline::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.scroll-timeline::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 5px;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-content-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.gradient1 {
  background: #5840FF;
  background: linear-gradient(to right, #5840FF, #00E4EC);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#5840FF, endColorstr=#00E4EC);
}

.gradient2 {
  background: #ff69a5;
  background: linear-gradient(to right, #ff69a5, #fa8b0c);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ff69a5, endColorstr=#fa8b0c);
}

.gradient3 {
  background: #2cb7ff;
  background: linear-gradient(to right, #2cb7ff, #5f63f2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2cb7ff, endColorstr=#5f63f2);
}

.gradient4 {
  background: #009646;
  background: linear-gradient(to right, #009646, #62de04);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#009646, endColorstr=#62de04);
}

.gradientInstra {
  background: #ffc107;
  background: linear-gradient(to right, #ffc107, #9c27b0);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffc107, endColorstr=#9c27b0);
}